{% extends "auth_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
  Login
{% endblock title %}
  
{% block main %}
<div class="card">
  <div class="card-header text-center">
    <h3>Login</h3>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>
  <form method="post">
    <div class="card-body">
      {% csrf_token %}
      {{form|crispy}}
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>

  <div class="d-grid gap-2 text-center ">
    <p class='p-1'>Don't Have Account? <a href="{% url 'signup' %}"> SignUp Now</a></p>
  </div>
  
</div>
{% endblock main %}