{% extends "auth_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Password change
{% endblock title %}

{% block main %}
<div class="card">
  <div class="card-header text-center">
    <h3>Change Password</h3>
</div>
  <form method="post" enctype="multipart/form-data">
    <div class="card-body">
      {% csrf_token %}
      {{form|crispy}}
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form>

</div>
{% endblock main %}